:root {
  /* root colours and fonts go there */
  /* light grey */
  --colour-1: hsl(0, 0%, 89%);

  /* white */
  --colour-2: hsl(0, 0%, 100%);

  /* red */
  --colour-3: hsl(1.7, 84.6%, 51.8%);

  /* dark grey */
  --colour-4: hsl(0, 0%, 26.7%);

  /* white */
  /* --colour-5: hsl(0, 0%, 100%); */

  /* black */
  --colour-6: hsl(0, 0%, 5.9%);

  --title-font: "Yusei Magic", sans-serif;
  --info-font: "Roboto", sans-serif;
}

/* body {
  background-color: var(--background-clr);
  text-align: center;
  margin: 0;
  -webkit-font-smoothing: antiagented;
  -moz-osx-font-smoothing: grayscale;
} */

h1 {
  font-family: var(--info-font);
  font-size: 1.8rem;
}

p {
  font-family: var(--info-font);
  font-size: 1.2rem;
  padding: 1.2rem;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
